# Dependencies
node_modules/
frontend/node_modules/

# Production/Build
dist/
frontend/dist/

# Databases & Local Logs
backend/database.db
backend/database.db-journal
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/build_*.txt
.wrangler/

# Editor / System Files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
